@import "../../styles/variables";

.wrap {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  max-width: 708px;
  border-radius: $borderRadius;
  background-color: $light;
  transition: 0.3s ease all;

  &__line {
    display: flex;

    &__txt {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }

    &__checkbox {
      min-width: 36px;
      height: 36px;
      margin-right: 10px;
      cursor: pointer;
    }

    &__icon {
      min-width: 30px;
      height: 30px;
      margin: 15px 10px 0 5px;
      padding: 5px;
      cursor: pointer;
      border-radius: $borderRadius;

      &:hover {
        background-color: $bg;
      }
    }
  }

  &__description {
    margin-top: 10px;
    padding: 10px;
  }

}