@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

// FONTS
$Poppins: 'Poppins', sans-serif;

// COLORS
$dark: rgb(29, 29, 29);
$light: #f5f5f5;
$bg: white;
$google: rgb(162, 162, 246);
$errorBg: rgb(255, 128, 128);
$errorTxt: darkred;


// BORDER RADIUS
$borderRadius: 7.5px;

// POINTS
$mid: 768px;
$low: 384px;

@mixin breakpoint($point) {
  @media (min-width: $point) {
    @content;
  }
}
