@import "../../styles/variables";

.wrap {
  position: absolute;
  margin: 20px;
  bottom: 0;
  max-width: 400px;
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  @include breakpoint($mid) {
    margin: 40px;
  }

  &__errorWrap {
    background-color: $errorBg;
    color: $errorTxt;
    border-radius: $borderRadius;
    padding: 10px 20px;
    outline: 3px solid $errorTxt;
    margin-top: 10px;

    &__txt {
      font-size: 16px;
    }
  }
}