@import "../../styles/variables";

.header {
  background: $dark;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  @include breakpoint($mid) {
    padding: 0 40px;
  }
  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    color: $light;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      font-size: 1.5rem;
      font-weight: 800;
      display: none;
      @include breakpoint($low) {
        display: inline;
      }
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: auto;
      height: 100%;
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: auto;

      &__link {
        text-decoration: none;
        color: $light;
        margin-left: 20px;
      }
    }
  }
}